ul {
    list-style-type: none;
    margin-top: 0;
    padding: 2;
    overflow: hidden;
    background-color: #d1b3ff;
}

li {
    float: left;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 12px 17px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;}

.me {
  text-align: center;
  color: blue;

}
.span1
{
  color: red;
}
.jumbotron
{
  margin-top: 20;
padding: 20;
background-color: #99ffff;


}
body
{
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-color: green;
  border-radius:

}
.jumbotron1 {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  color: inherit;
  background-color: #eee;
}
